<!-- Upload File -->
<div class="container" id="play" ng-controller="FilePlayCtrl">
    <div class="jumbotron">
        <h3>Player <span class="alert alert-info pull-right" style="font-size:15px">Player Status: {{msg.status}}</span></h3>


        <hr>
            <span ng-hide="selectedFilePath" class="alert alert-warning" style="font-size:20px">No file Selected</span>

        <div ng-show="selectedFilePath">
             <span class="alert alert-success" style="font-size:20px">Selected File: {{selectedFilePath}}
                 <a href class="btn btn-danger btn-xs" ng-click="removeSelectedFilePath()"><span class="glyphicon glyphicon-remove"></span>Entfernen</a>
             </span>&#160; <!-- This is a whitespace -->


            <span class="alert alert-success" style="font-size:20px">
                <a href class="btn btn-success btn-xs" ng-click="playFile()"><span class="glyphicon glyphicon-play"></span>Play =)</a>
            </span>
        </div>
        <br>

    </div>
</div>