<!-- Upload File -->
<div class="container" id="play">
    <div class="jumbotron">
        <h3>Player <span class="alert alert-info pull-right" style="font-size:15px">{{PlayerMsg.status}}</span></h3>


        <hr>
            <span ng-hide="selectedFilePath" class="alert alert-warning" style="font-size:20px">No file Selected</span>

        <div ng-show="selectedFilePath">
             <span class="alert alert-success" style="font-size:20px">Selected File: {{selectedFilePath}}
                 <a href class="btn btn-danger btn-xs" ng-click="removeSelectedFilePath()"><span class="glyphicon glyphicon-remove"> Entfernen</a>
                 <a href class="btn btn-success btn-xs" ng-click="playFile()"><span class="glyphicon glyphicon-play"></span> &nbsp;&nbsp;&nbsp;Play =)</a>
            </span>
        </div>
        <br>
    </div>
</div>