<!-- List, Play and Delete Files -->
<div class="container" id="management">
    <div class="jumbotron">
        <h3>Start</h3>
        <hr>

        <!-- AngularJS -->
        <br/>
        <div class="container">
            <p style="font-size: 15px">Bitte Suchbegriff eingeben</p>
            <form>
                <input type="text" ng-model="searchtext" id="searchbox">
            </form>
            <br/>
            <p style="font-size:15px">Suchbegriff: {{searchtext}}</p>
        </div>

        <br/>
        <p>Diese Dateien sind vorhanden
            <a href class="btn btn-info btn-xs pull-right" ng-click="fileFactory.getFiles();"><span class="glyphicon glyphicon-refresh"></span> Neu laden</a>
        </p>

            <div ng-hide="files.length" class="alert alert-warning">Keine Files vorhanden!</div>
            <table ng-show="files.length" class="table">
                <tr>
                    <th>Name</th>
                    <th>Path</th>
                    <th>Size</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr ng-repeat="file in filtered = (files | filter:searchtext | orderBy: 'name')" class="files-item">
                    <td>{{file.name}}</td>
                    <td>{{file.path}}</td>
                    <td>{{file.sizeinMB}} MB</td>
                    <td><a href class="btn btn-success btn-xs" ng-click="fileFactory.selectFile(file.path, file.id);"><span class="glyphicon glyphicon-play"></span> Abspielen</a></td>
                    <td><a href class="btn btn-danger btn-xs" ng-click="fileFactory.removeFile(file.id);"><span class="glyphicon glyphicon-trash"></span> Löschen</a> </td>
                </tr>
            </table>
<p>Gesamtanzahl Dateien: {{files.length}}</p>
</div>
</div>
</div>

