body {
  padding-top: 50px;
}

.jumbotron {                            /*Settings for Jumbotrons, which contains the content*/
    background-color:#615858;
    color:#FFFFFF;
    padding-left: 150px;
    padding-right: 150px;
}

#startpage {                            /*Settings for Welcome-Page*/
    text-align: center;
    padding:15px;
    padding-bottom: 20px;
}

#searchbox {                            /*searchbox-color has to be black, otherwise it would be white color on white background*/
    color:#000000;
}

#absenden {
    color:#000000;
}

.blacktext {
    color:#615858;
}

/*Edit Table-Style */
table, th , td {
     border: 1px solid grey;
     border-collapse: collapse;
     padding: 5px;
 }
table tr:nth-child(odd) {
    background-color: #615858;
}
table tr:nth-child(even) {
    background-color: #908484;
}

/*Upload-Section*/
.drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px green; } /* Default class applied to drop zones on over */
